body {
  background-color: #fff4d4;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #6a0041;
}

/* Header */
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

header img {
  display: inline-block;
  width: 13rem;
}

nav li {
  display: inline-block;
  font-size: 1rem;
  margin: 10px;
  /* text-decoration: none; */
}

header div {
  margin: 1.5rem 0.5rem;
}

/* Main */
h1,
h2,
h3,
p {
  text-align: center;
}

.bio {
  font-size: 16px;
}

/* Footer */
footer {
  font-style: italic;
  font-size: 16px;
  background-color: #fcc394;
  text-align: center;
  padding: 8px;
}
